a{
    text-decoration: none;
}

.search{
    background-color: #F9F9F9;
    min-height: calc(100vh - 60px);
    padding: 2%;
}

.filter{
    height: 40px;
    border-bottom: 1px solid #e6e6e6ce;
    margin:0 2%;
    color: #6d6d6d;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.filter_icon{
    cursor: pointer;
}
.filter p{
    margin-left: 1%;
    cursor: pointer;
}

.download a{
    margin-right: 5%;
}

.download{
    display:flex;
    overflow: hidden;
    flex-wrap: wrap;
}

.downloadbutton{
    justify-self: flex-end;
    align-self: center;
    text-align: center;
    
}

@media only screen and (max-width: 1000px){
    .downloadbutton{
        justify-self: flex-end;
        align-self: center;
        margin-left: 85px;
    }
    .download a{
        margin-right: 0;
    }
}