.search{
    background-color: #F9F9F9;
    min-height: calc(100vh - 60px);
    padding: 2%;
}

.filter{
    height: 40px;
    border-bottom: 1px solid #e6e6e6ce;
    margin:0 2%;
    color: #6d6d6d;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.filter_icon{
    cursor: pointer;
}
.filter p{
    margin-left: 1%;
    cursor: pointer;
}